{% extends 'common.html.twig' %}

{% block stylesheet %}
	{{ parent() }}
{% endblock %}

{% block title %} Корзина {% endblock %}

{% block body %}
	
	{% block header %}
		{{ parent() }}
	{% endblock %}
	
	{% block wrapper_start %} {{ parent() }} {% endblock %}
	
	{% block main %}
		
		<div class="container">
			<div class="cart_block">
			
			</div>
		</div>
		
	{% endblock %}
	
	{% block wrapper_end %} {{ parent() }} {% endblock %}
	
	{% block footer %}
		{{ parent() }}
	{% endblock %}

{% endblock %}